
{{>header}}
<div class="d-flex flex-column align-items-left justify-content-center my-2 py-4">
    <div class="col-12">
<h4>Listado de cursos</h4>
</div>


<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
		<th>id</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Valor</th>
		<th>Disponibilidad</th>
		<th>Modalidad</th>
		<th>Intensidad</th>
		{{#unless adminSession}}
			<th>Inscripción</th>
		{{/unless}}
	</thead>

	 <tbody>
		 {{#each listado}}
		 <tr>
			<td>{{id}}</td>
			<td>				<a href="/inscritos/?course_id={{id}}">
					{{name}}
				</a></td>
			<td>{{description}}</td>
			<td>$ {{price}}</td>
			<td>{{#if available}}Sí{{else}}No{{/if}}</td>
			<td>{{modality}}</td>
			<td>{{intensity}} horas</td>
			{{#unless ../adminSession}}
				<td>
					<a href="/enroll/?course_id={{id}}" class="btn btn-success">
					Inscribirme {{rol}}
					</a>
				</td>
			{{/unless}}
		</tr>
		{{/each}}
	 </tbody>


</table>
</div>
{{>footer}}