
{{>header}}
<div class="d-flex flex-column align-items-left justify-content-center my-2 py-4">
    <div class="col-12">
<h4>Listado de cursos</h4>
</div>


<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
		<th>id</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Valor</th>
		<th>Disponibilidad</th>
		<th>Modalidad</th>
		<th>Intensidad</th>
		<th>Acciones</th>

	</thead>

	 <tbody>
		 {{#each listado}}
		 <tr>
			<td>{{id}}</td>
			<td>				<a href="/inscritos/?course_id={{id}}">
					{{name}}
				</a></td>
			<td>{{description}}</td>
			<td>$ {{price}}</td>
			<td>{{#if available}}Sí{{else}}No{{/if}}</td>
			<td>{{modality}}</td>
			<td>{{intensity}} horas</td>
		
				<td>
					{{#unless ../adminSession}}
						<a href="/enroll/?course_id={{id}}" class="btn btn-success">
						Inscribirme
						</a>
					{{/unless}}

					{{#if ../adminSession}}
						
						<a href="/inscritos/?course_id={{id}}" class="btn btn-info">
							Ver inscritos
						</a>


						{{#if available}}
						<a href="/change-state/?course_id={{id}}&state=0" class="btn btn-warning">
							Deshabilitar
						</a>
						{{else}}
							<a href="/change-state/?course_id={{id}}&state=1" class="btn btn-success">
								Habilitar
							</a>
						{{/if}}




					{{/if}}
				</td>

		</tr>
		{{/each}}
	 </tbody>


</table>
</div>
{{>footer}}